---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION } from "../consts";
import Nav from "@/components/Nav.tsx";
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="en">
  <head>
    <BaseHead
      title="2077 Collective - Ethereum's Unofficial Marketing Department"
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <div
      class="bg-background text-foreground min-h-screen flex flex-col relative sm:flex-row overflow-hidden"
    >
      <Nav />
      <div class="w-full mt-24 sm:mt-0 sm:ml-24">
        <slot />
      </div>
    </div>
  </body>
</html>
